@media all and (orientation:landscape) {

button {
    font-size: 18px;
    height: 1.7em;
}

.inner {
    height: 85vh;
}

table,
.bookingTbody,
#btHeaderTr .td-header {
    font-size: 12px;
}



.swal-modal {
    width: 70%;
}
.swal-title {
    font-size: 22px;
}
.swal-text, .swal-button {
    font-size: 18px;
}
.swal-button--confirm {
    font-size: 20px;
}



}

@media all and (min-width: 900px) and (orientation: landscape) {
    body {
        background-color: cyan;
    }

    table,
    .bookingTbody,
    #btHeaderTr .td-header {
        font-size: 14px;
    }